/15Puzzle/15Puzzle/_15Puzzle/bin
/15Puzzle/15Puzzle/_15Puzzle/obj
/15Puzzle/15Puzzle/_15Puzzle.Droid/bin/Debug
/15Puzzle/15Puzzle/_15Puzzle.Droid/obj
/15Puzzle/15Puzzle/_15Puzzle.UWP/bin/x86/Debug
/15Puzzle/15Puzzle/_15Puzzle.UWP/obj/x86
/15Puzzle/15Puzzle/_15Puzzle.Windows/bin
/15Puzzle/15Puzzle/_15Puzzle.Windows/obj
/15Puzzle/15Puzzle/_15Puzzle.WinPhone/bin
/15Puzzle/15Puzzle/_15Puzzle.WinPhone/obj/Debug
/15Puzzle/15Puzzle/_15Puzzle.WinPhone/obj/Release
/15Puzzle/15PuzzleUnitTests/bin/Debug
/15Puzzle/15PuzzleUnitTests/obj/Debug
/15Puzzle/15Puzzle/_15Puzzle.Droid/bin/Release
/15Puzzle/15Puzzle/_15Puzzle.UWP/bin/x86/Release
/15Puzzle/15PuzzleUnitTests/bin/Release
/15Puzzle/15PuzzleUnitTests/obj/Release
/HP41CV.png
/Unbenannt.png
/HP41CV.Xamarin/HP41CV/HP41CV/bin
/HP41CV.Xamarin/HP41CV/HP41CV/obj
/HP41CV.Xamarin/HP41CV/HP41CV.Droid/bin
/HP41CV.Xamarin/HP41CV/HP41CV.Droid/obj
/HP41CV.Xamarin/HP41CV/HP41CV.iOS/bin
/HP41CV.Xamarin/HP41CV/HP41CV.iOS/obj
/HP41CV.Xamarin/HP41CV/HP41CV.UWP/bin
/HP41CV.Xamarin/HP41CV/HP41CV.UWP/obj
/HP41CV.Xamarin/HP41CV/HP41CV.Windows/bin
/HP41CV.Xamarin/HP41CV/HP41CV.Windows/obj
/HP41CV.Xamarin/HP41CV/HP41CV.WinPhone/bin
/HP41CV.Xamarin/HP41CV/HP41CV.WinPhone/obj